@inject NavigationManager NavigationManager
@inject IProductService ProductService

<div class="input-group">
    <input class ="form-control"
            @bind-value = "searchText"
            @bind-value:event = "onInput"
            type="search"
            list="products"
            @onkeyup = "HandleSearch";
    />
</div>

@code{
    private string searchText = string.Empty;
    private List<String> suggestions = new(); 
    protected ElementReference searchInput;

    private async Task HandleSearch(KeyboardEventArgs args)
    {
        if(args.Key == null || args.Key.Equals("Enter"))
        {
            SearchProducts();
        }
        else if (searchText.Length > 1)
        {
            suggestions = await ProductService.GetProductSearchSuggestions(searchText);
        }
    }

    private async Task SearchProducts()
    {
        NavigationManager.NavigateTo($"search/{searchText}/1");
    }
}