@using BlazorEcommerce.Shared.Models;
@using BlazorEcommerce.Shared.Utils;

@inject HttpClient Http;
@inject IProductService ProductService;

<h3>Products List</h3>
<br />
@if(ProductService.Products == null || ProductService.Products.Count == 0)
{
    <div>No products to show</div>
}
else
{
    <ul class="list-unstyled">
        @foreach(var product in ProductService.Products)
        {
            <MudCard>
                <li class="media my-3">
                    <div class="media-img-wrapper mr-2">
                        <a href="/product/@product.Id">
                            @if (!string.IsNullOrEmpty(product.ImageURL))
                            {
                                <img class="media-img" src="@product.ImageURL" alt="@product.Name" />
                            }

                        </a>
                    </div>
                    <div class="media-body">
                        <a href="/product/@product.Id">
                            <h4 class="mb-0">@product.Name</h4>
                        </a>

                        <h5 class="price">
                            $@product.Price
                        </h5>
                    </div>
                </li>
            </MudCard>
            
        }
    </ul>

}
@code {
    private static List<Product> Products = new();

    protected override async Task OnInitializedAsync()
    {
        await ProductService.GetProducts();
    }
}
